{% extends "challenge.html" %} {% block connection_info %}
<div class="mb-3 text-center deployment-actions">
  <!-- Load container info when the page loads -->
  <img class="d-none" src onerror="view_container_info({{ challenge.id }})" />
  
  <!-- Container information display area -->
  <div class="alert alert-primary mb-3" id="deployment-info">
    Loading container information...
  </div>
  
  <!-- Action buttons -->
  <div class="container-actions mb-2">
    <button
      onclick="container_request({{ challenge.id }})"
      class="btn btn-primary d-none"
      id="create-chal"
    >
      Fetch Instance
    </button>
    <button
      onclick="container_renew({{ challenge.id }})"
      class="btn btn-info d-none"
      id="extend-chal"
    >
      Extend Time
    </button>
    <button
      onclick="container_stop({{ challenge.id }})"
      class="btn btn-danger d-none"
      id="terminate-chal"
    >
      Terminate
    </button>
  </div>
</div>
{% endblock %}
